body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  z-index: 1000; /* Ensures the navbar appears above other elements */
}

.brand {
  font-size: 24px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.audio-container {
  text-align: center;
  margin-bottom: 70px; /* Adjust margin to give space for the fixed navbar */
}

h1 {
  margin-top: 0;
}

.audio-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.audio-item {
  margin: 0 10px 20px; /* Increased bottom margin for space */
  flex: 0 0 21%;
}

audio {
  width: 150;
  max-width: 1400px;
  margin: 20px 0;
}

audio::-webkit-media-controls-timeline {
  width: 100%; /* Set the width to 100% */
}

audio::-moz-range-progress {
  width: 100%; /* Set the width to 100% */
}

audio::-ms-fill-lower {
  width: 100%; /* Set the width to 100% */
}

.pay-button {
  padding: 10px 15px; /* Adjusted padding */
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.pay-button:hover {
  background-color: #45a049;
}

.connect-button {
  padding: 10px 15px; /* Adjusted padding */
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 55px; /* Added margin */
}

.connect-button:hover {
  background-color: #45a049;
}

h1 {
  margin-top: 0; /* Remove default margin */
}
#connectButton {
  cursor: pointer;
  padding: 8px 15px;
  margin-right: 60px;
  font-size: 1em;
  background-color: DodgerBlue;
  color: black;
}
